:root{
    --backgrorund: #000430;
    --secondaryBackground:#171c48;
    --text: #fff;
    --purple:#828dff;
    --teal:#24feee;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: var(--backgrorund);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin :120px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    padding: 30px;
    border-radius:20px;
    border:2px solid var(--purple);
    display:flex;
    gap: 30px;
    justify-content: space-between;
}

#numbers{
   width: 100px;
   height: 100px;
   background-color: var(--purple);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 30px;
   font-weight: bold;
}

#newTask{
    margin-left:10px;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top:20px;
}

#progress{
    width:80%;
    height:10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

form{
    margin-top:60px;
    display: flex;
    width:100%;
}

input{
    flex:1;
    padding:16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

#delete{
    width: 24px;
    height: 24px;
}
#newTask{
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    gap:10px;
}

.taskItem{
    display: flex;
    background-color: var(--secondaryBackground);
    padding:10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.taskItem .completed p{
    text-decoration: line-through;
    color: var(--teal);
}

.task{
    display: flex;
    align-items: center;
    gap:10px;
}

.task input{
    width:20px;
    height:20px;
}

.oper{
    border-radius: 20px;
    margin-left:10px;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 30px;
    width: 100%;
    list-style-type: none;
}

